/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Add styles here! */
:root {
  --primary: hsl(160deg, 100%, 30%);

  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);

  --gray-black: hsl(0deg, 0%, 0%);
  --gray-very-dark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);

  --white: hsl(0deg, 0%, 100%);
}

header {
  padding-top: 6rem;
  padding-bottom: 4rem;
  border-bottom: 8px solid var(--gray-light);
}

.max-width-wrapper {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.intro-chunk > .title {
  padding-bottom: 3rem;
}

.intro-chunk > p:first-of-type {
  padding-bottom: 1rem;
}

.intro-chunk strong {
  color: var(--primary);
}

main {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-color: var(--gray-medium); 
}

.card {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--white);
  border-bottom: 8px solid var(--gray-light);
}

.card > p:first-of-type {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.indented-heading {
  background-color: var(--secondary-light);
  border-bottom: 8px solid var(--secondary-dark);
  width: fit-content;
  padding: 1rem 2rem;
  margin-left: -2rem;
}
